<app-boton-producto></app-boton-producto>
<app-boton-producto1></app-boton-producto1>
<app-boton-producto2></app-boton-producto2>
<p-table [value]="productos">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>NombreProducto</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Categoria</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombreProducto }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.categoria }}</td>
        </tr>
    </ng-template>
</p-table>
